# AlphaFold3 input & output
alphafold3_jsons/
alphafold3_msas/
alphafold3_predictions/

# Snakemake caches, logs, temporary files
.snakemake/
.snakemake-eu/
.snakemake_timestamp

# Binary files
*.gz

# macOS
.DS_Store
._*
Thumbs.db
